@import "../../../styles.scss";
@import "../../../assets/styles/page.scss";
@import "../../../assets/styles/title.scss";
@import "../../../assets/styles/separator.scss";
@import "../../../assets/styles/button.scss";

.page {
  justify-content: center;
  .block {
    z-index: 0;
    position: relative;
    align-items: center;
    display: flex;

    flex-direction: column;
    row-gap: $gap;
    background-color: $colorWhite;
    padding: $padding;
    padding: calc(2 * #{$padding});
    padding-bottom: $padding;
    padding-top: calc(4 * #{$padding});
    border-radius: $borderRadius;

    .add-technics {
      display: flex;
      column-gap: calc(2 * #{$gap});
      // width: 100%;

      position: absolute;
      top: $padding;
      // right: $padding;
      .btn {
        background-color: $colorBtnDisabled;
        transition: all 300ms ease;
      }

      .btn:hover {
        background-color: $colorBtn;
      }
    }

    .technic {
      width: 100%;

      cursor: pointer;
    }

    .technic .item,
    .titles {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    }

    .item {
      .coordinate {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

@media (min-width: 320px) {
  .block {
    width: 95%;
  }
  .item {
    img {
      width: 30px;
      height: 30px;
    }
  }
}

@media (min-width: 375px) {
  .block {
    width: 95%;
  }
  .item {
    img {
      width: 35px;
      height: 35px;
    }
  }
}

@media (min-width: 425px) {
  .block {
    width: 90%;
  }
  .item {
    img {
      width: 40px;
      height: 40px;
    }
  }
}

@media (min-width: 768px) {
  .block {
    width: 70%;
  }
  .item {
    img {
      width: 50px;
      height: 50px;
    }
  }
}

@media (min-width: 1024px) {
  .block {
    width: 70%;
  }
  .item {
    img {
      width: 60px;
      height: 60px;
    }
  }
}
