@import "../../../../styles.scss";
@import "../../../../assets/styles/input.scss";

$labelFontSize: 12px;

.form-group {
  .input-group {
    .form-control {
      outline: none;
      font-size: $fontSize;
    }
    label {
      font-size: $labelFontSize;
      padding-left: $paddindLeft;
      // color: $colorRed;
    }
  }

  .form-control,
  .form-control:focus {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #d3d3d3;
  }
}
